* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: black;
    font-family: 'Mukta Malar', Arial, sans-serif;
}

.underline {
    text-decoration: underline;
}

.yellow_li {
    background-color: #f5cd79;
}

.container {
    background-color: #fab1a0;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.index {
    width: 40%;
    text-align: center;
}

h1, h2, p {
    padding: 20px;
}

h1, h2 {
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #f19066;
}

ul a {
    color: black;
}

ul li {
    padding: 20px;
    transition-duration: 0.3s;
}

ul li:hover {
    font-size: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.example {
    background-color: #f5cd79;
    padding: 20px;
}

.example p {
    padding: 0;
}

.example a img {
    width: 150px;
    height: 150px;
}

.example button {
    padding: 10px;
}

.style {
    color: #6ab04c;
    font-weight: bold;
}

span, footer a {
    color: #e84393;
    font-size: 20px;
}

footer {
    color: #fff;
}
