/* =============================
        GENERAL
============================= */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: black;
    font-family: 'Mukta Malar', Arial, sans-serif;
}

.container {
    background-color: #f1f2f6;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.home_banner {
    background-color:#2f3542;
    height: auto;
    width: 200px;
    text-align: center;
    display: inline-block;
    position: absolute;
    right: -45px;
    top: 40px;
    transform: rotate(45deg);
    color: white;
}

h1, h2, p {
    padding: 20px;
}

h1, h2 {
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #f5cd79;
}

.index_ul a {
    color: black;
}

.index_ul li {
    padding: 20px;
    transition-duration: 0.3s;
    list-style-type: none;
}

.index_ul li:hover {
    font-size: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.example {
    background-color: #f5cd79;
    padding: 20px;
}

.example p {
    padding: 0;
}

.example a img {
    width: 150px;
    height: 150px;
}

.example button {
    padding: 10px;
}

span, footer a {
    color: #e84393;
    font-size: 20px;
}

footer {
    color: #fff;
}

article footer {
    color: #000;
}


/* =============================
        SPECIAL CLASSES
============================= */

.style {
    color: #6ab04c;
    font-weight: bold;
}

.icon {
    text-align: right;
    padding: 0;
}

.icon a {
    color: #eb3b5a;
    font-size: 24px;
    text-align: right;
    padding: 20px;
}

.index {
    width: 50%;
    text-align: center;
}

.important_tag {
    color: #c23616;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.yellow_li {
    background-color: #f5cd79;
}

.article_list {
    list-style-type: square;
    padding: 0 0 20px 40px;
}

.quotation_marks {
    width: 50%;
    text-align: justify;
}

.quotation_marks:before,
.quotation_marks:after {
    content: '"';
    font-size: 18px;
}
